h1{
    margin-left: 20px;
}
.icon_conta{
    font-size: 25px;
    margin-left: 4px;

}
.button_back{
    font-size: 25px;
    margin-left: 10px;
    position: absolute;
    color: #6200ED;
}

h1{
    margin-left: 20px;
    margin-bottom: -3px;
}


