<ion-content>
  <div #map>
    <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" aria-placeholder="Para onde?" [hidden]="destination"></ion-searchbar>



      <ion-button class="ion-margin-top" (click)="back()" style="color: #6200ED; font-size: 15px;" fill="clear" size="small" [hidden]="!destination">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-list class="ion-margin-horizontal" [hidden]="!search.length">
        <ion-item (click)="calcRoute(result)" *ngFor="let result of searchResults">
          {{ result.description }}
        </ion-item>
      </ion-list>
          <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="danger" [hidden]="!destination">
          <ion-icon name="alert-circle-outline" [hidden]="!destination"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  </div>

</ion-content>
