<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon class="button_back" (click)="close()" slot="start" name="arrow-back-outline"></ion-icon>
    <ion-img src="img/logo.png" class="img_header"></ion-img>
  </ion-toolbar>
</ion-header>
 
<h1>Meu historico</h1>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img src="https://img.icons8.com/color/452/mcdonalds-app.png" class="img_icon_historico"></ion-img>
      <ion-card-title class="titulo_historico"><strong>Donalds Faria Lima</strong> </ion-card-title>
      <ion-card-subtitle class="sub_historico">Data: 16/05/2021</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-img src="https://image.flaticon.com/icons/png/512/106/106195.png" class="img_icon_historico"></ion-img>
      <ion-card-title class="titulo_historico"><strong>Rua Benedito Campo de Morais</strong></ion-card-title>
      <ion-card-subtitle class="sub_historico">Data: 20/03/2021</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-img src="https://pbs.twimg.com/profile_images/1200052934/Logo_Quintal_do_Espeto_Final_400x400.jpg" class="img_icon_historico"></ion-img>
      <ion-card-title class="titulo_historico"><strong>Quinta do Espeto</strong></ion-card-title>
      <ion-card-subtitle class="sub_historico">Data: 05/03/2021</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3Q9dTVwaJ4FV0wJ4OrsTv0ondnTxh4Gtotw&usqp=CAU" class="img_icon_historico"></ion-img>
      <ion-card-title class="titulo_historico"><strong>Outback ShoppingVila Olimpia</strong></ion-card-title>
      <ion-card-subtitle class="sub_historico">Data: 15/02/2021</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-img src="https://image.flaticon.com/icons/png/512/106/106195.png" class="img_icon_historico"></ion-img>
      <ion-card-title class="titulo_historico"><strong>Praça Juscelino Kubitschek, 85</strong> </ion-card-title>
      <ion-card-subtitle class="sub_historico">Data: 10/01/2021</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


</ion-content>
