.img_icon_historico{
    width: 50px;
    height: 62px;
    float: left;
    margin-right: 10px;
    margin-left: -11px;
    margin-top: -14px;
}
.titulo_historico{
    font-size: 14px;

}

.sub_historico{
    font-size: 11px;
}

h1{
    margin-left: 20px;
}

.button_back{
    font-size: 25px;
    margin-left: 10px;
    position: absolute;
    color: #6200ED;
}
