<ion-header>
  <ion-toolbar color="secondary">
    <ion-img src="img/logo.png" class="img_header"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Noticias</h1>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="data_publicacao">Publicado em 01/01/2021</ion-card-subtitle>
      <ion-card-title >RH tech de Inclusão tem mais de 10 mil vagas para PCD</ion-card-title>
    </ion-card-header>
    <ion-img src="/img/noticia2.jpg" class="img_noticia"></ion-img>
    <ion-card-content>
      RH tech de inclusão tem 10 mil vagas para pessoas com deficiência em todo Brasil. A PCD Online está entre as 5 maiores HR TECH de emprego online e é considerada a maior no segmento de inclusão no mundo, à 14 anos foi a primeira startup com foco em empregos exclusivos para pessoas com deficiência (PCD), e acaba de lançar sua nova plataforma com todos os requisitos e melhorias tecnológicas de acessibilidade web de forma nativa com tecnologia própria (sem a necessidade de plugins) para pessoa com deficiência visual e motora onde foi pioneira na iniciativa.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="data_publicacao">Publicado em 20/01/2021</ion-card-subtitle>
      <ion-card-title>Confira a lista de Carros para PCD para 2021</ion-card-title>
    </ion-card-header>

    <ion-img src="/img/noticia1.jpg" class="img_noticia"></ion-img>
  
    <ion-card-content>
      Veja a Lista de Carros para PCD - Confira aqui no PCD.com.br a lista de veículos que serão lançados em 2021 para pessoas com deficiência, 
      são vários carros para PCD com isenção de IPI e ICMS. Abaixo a relação de Carros até R$70.000
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="data_publicacao">Publicado em 20/01/2021</ion-card-subtitle>
      <ion-card-title>Caixa é condenada por descumprir a Lei de Cotas para PCD</ion-card-title>
    </ion-card-header>

    <ion-img src="/img/noticia3.jpeg" class="img_noticia"></ion-img>
  
    <ion-card-content>
      A Justiça do Trabalho condenou a Caixa Econômica Federal a cumprir a Lei de Cotas. Com a decisão, 
      o banco público precisaria contratar 2.500 pessoas com deficiência para se adequar à legislação.
    </ion-card-content>
  </ion-card>
</ion-content>
  