
.img_noticia{
    width: 295px;
    margin-left: 17px;
}

h1{
    margin-left: 20px;
}

.img_header{
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.data_publicacao{
    color:#6200ED;
}
