<ion-header>
  <ion-toolbar color="secondary">
    <ion-img src="img/logo.png" class="img_header"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Noticias</h1>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Publicado em 01/01/2021</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-img src="https://www.saojose.sc.gov.br/images/uploads/sao-jose/pessoa_com_deficiencia_120421.jpg" class="img_noticia"></ion-img>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Publicado em 20/01/2021</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-img src="https://www.camara.leg.br/midias/image/2020/09/img20200825160644603-768x510.jpg" class="img_noticia"></ion-img>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Publicado em 20/01/2021</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-img src="https://www.camara.leg.br/midias/image/2020/09/img20200825160644603-768x510.jpg" class="img_noticia"></ion-img>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Publicado em 20/01/2021</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-img src="https://www.camara.leg.br/midias/image/2020/09/img20200825160644603-768x510.jpg" class="img_noticia"></ion-img>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  </ion-content>